@tailwind base;
@tailwind components;
@tailwind utilities;

.range-thumb {
  position: absolute;
  width: 100%;
  height: 0;
  top: 1px;
  pointer-events: none;
  appearance: none;
}

.range-thumb::-webkit-slider-thumb {
  appearance: none;
  pointer-events: auto;
  width: 14px;
  height: 18px;
  background: #ffffff;
  border: 2px solid #000;
  border-radius: 6px;
  cursor: pointer;
}

.range-thumb::-moz-range-thumb {
  pointer-events: auto;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 2px solid #000;
  border-radius: 6px;
  cursor: pointer;
}
